<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript测试</title>
    <script type="javascript" src="js/jquery.min.js"></script>
</head>
<body onload="startTime()">
<p id="test">做个测试</p>
<p onclick="changeStyle()" id="style">点击文本可以改变样式</p>
<span id="demo">js能改变文本的内容</span>
<button type="button" onclick="changeText()">点击这里改变文本内容</button>
<br>
<p>请输入需要校验的数字
<p/>
<input id="check" type="text" width="100">
<button type="button" onclick="checkNum()">点击校验数字</button>
从JS对象中获取的名字为：<span id="name"></span>
<p id="demo1"></p>
<p id="demo2"></p>
点击按钮，调用传参的函数
<button id="button1" type="button" onclick="params('xlj',15)">点击调用函数</button>
<br>
<button id="button2" onclick="document.getElementById('button2').innerHTML=Date()">点击这里获取当前时间</button>
转义换行：<p id="p1"></p>
<p>字符串转Json：<span id="p2"></span></p>
回调函数等待3秒之后执行:
<p id="p3"></p>
<p id="p4"></p>
<input name="button" type="button" onclick="rec()" value="点击弹出对话框"/>
<ul class="fruit">
    <li>苹果</li>
    <li>橘子</li>
    <li>香蕉</li>
</ul>
<p>arguments.length 属性所返回函数接收到参数的个数：<span id="p5"></span></p>
<p id="p6"></p>
<p>箭头函数的用法：<span id="p7"></span></p>
<p>闭包实现的数累加：
    <button id="close" type="button" onclick="closeP()">点击计数</button>
    <span id="span1"></span></p>
onchange()函数用法——请输入你的英文名字：<input onchange="f9()" type="text" id="input1"><br>
鼠标移入移出事件：
<div id="div1" style="height: 120px;width: 120px;background-color: red" onmouseover="over(this)"
     onmouseout="out()"></div>
鼠标点击和释放事件：
<div id="div2" style="height: 120px;width: 120px;background-color: red" onmousedown="down(this)" onmouseup="up()"></div>
按钮中添加监听事件：
<button type="button" id="button3">点击显示日期</button>
<p id="p10"></p>
<div id="div3"></div>
<div id="div4"></div>
<button type="button" onclick="confirmFrame()">confirm确认框</button>
<button type="button" onclick="promptFrame()">prompt确认框</button>
<p>1s后运行setInterval计时函数</p>
<div id="div5"></div>
<button type="button" onclick="f7()">点击停止setInterval计时事件</button>
<p id="he">hello</p>
<p>hello1</p>
<p>hello2</p>
<p>hello3</p>
<p>hello4</p>

<h1>-----------------以下为JS生成的内容------------------------</h1>
</body>

<script>
    // 页面加载前运行js代码
    window.onload = function () {
        var userName = "xiaoming";
        alert(userName);
    };

    // 回调函数：一种参数形式传递给另一个函数的函数

    // cookie操作
    // 创建cookie（用户名，过期时间，路径）
    document.cookie = "username=xlj;expires=Thu, 18 Dec 2043 12:00:00 GMT;path=/";
    // 修改cookie，直接创建新值旧的会被覆盖
    document.cookie = "username=jyj;expires=Thu, 18 Dec 2043 12:00:00 GMT;path=/";
    // 删除cookie，用之前的过期时间，即可删除
    document.cookie = "username=jyj;expires=Thu, 18 Dec 1970 12:00:00 GMT;path=/";

    document.getElementsByTagName("p").setAttribute("onclick", "hide()");

    function hide() {
        this.hide();
    }

    // 计时事件：setInterval 不间断执行函数
    let interval = setInterval(function () {
        f10();
    }, 1000);

    function f10() {
        let date2 = new Date();
        let dateString = date2.toLocaleTimeString();
        document.getElementById("div5").innerHTML = dateString;
    }

    // 停止计时事件
    function f7() {
        clearInterval(interval);
    }

    // 弹框方式
    // window.alert("alert警告框");
    function confirmFrame() {
        let b = confirm("这是confirm确认弹框");
        if (b) {
            console.log("确认");
        } else {
            console.log("取消");
        }
    }

    function promptFrame() {
        let prompt1 = prompt("请输入您的名字", "XLJ");
        if (prompt1 !== null && prompt1 !== "") {
            alert("Hello！" + prompt1);
        }
    }

    // window对象：后退 | 前进
    function back() {
        history.back();
    }

    function forward() {
        history.forward();
    }

    // 正则表达式匹配
    let str = "hello World,world,world";
    // i 表示不区分大小写
    let req = /world/i;
    console.log(str.match(req));
    // g 表示全文匹配，不止匹配一次
    let req1 = /world/g;
    console.log(str.match(req1));
    // 合并
    let req2 = /world/ig;
    console.log(str.match(req2));

    // 时间展示
    function startTime() {
        let today = new Date();
        let hours = today.getHours();
        let minutes = today.getMinutes();
        let seconds = today.getSeconds();
        let m = checkTime(minutes);
        let s = checkTime(seconds);
        document.getElementById("div4").innerHTML = hours + ":" + m + ":" + s;
        setTimeout(function () {
            startTime()
        }, 500);
    }

    function checkTime(num) {
        if (num < 10) {
            return num = "0" + num;
        }
        return num;
    }

    // 日期对象
    let date = new Date();
    // 可设置日期
    let datePlus = date.setFullYear(2021, 5, 6);
    let datePlus1 = date + 5;
    let date1 = new Date();
    console.log(date1);
    console.log(datePlus);
    console.log(datePlus1);
    // 日期对象之间可作比较
    if (date1 > datePlus) {
        console.log(datePlus);
    }

    // 字符串匹配
    let hello1 = "hello1";
    if (hello1.match("e")) {
        console.log("hello");
    }
    // 数字对象：无穷大-Infinity
    let num = 2;
    if (num !== Infinity) {
        console.log(num);
    }
    // 数字对象：非数字值-isNaN
    if (isNaN(num)) {
        console.log(num);
    }

    // prototype对象可添加对象属性和方法
    function Person(id, name) {
        this.id = id;
        this.name = name;
    }

    Person.prototype.age = 16;
    Person.prototype.getAge = function () {
        return this.age;
    };

    // DOM 创建节点元素
    let element = document.createElement("p");
    let node = document.createTextNode("这是元素节点创建的标签内容");
    element.appendChild(node);
    document.getElementById("div3").appendChild(element);
    // element.remove();

    // 添加监听事件句柄
    document.getElementById("button3").addEventListener("click", display);

    function display() {
        document.getElementById("p10").innerHTML = Date();
    }

    // 鼠标点击和释放事件
    function down(object) {
        object.style.backgroundColor = 'blue';
    }

    function up() {
        document.getElementById("div2").style.backgroundColor = 'black';
    }

    // 鼠标移入移出事件
    function over(object) {
        object.style.backgroundColor = 'blue';
    }

    function out() {
        document.getElementById("div1").style.backgroundColor = 'black';
    }

    // onchange事件：当用户改变输入字段内容时触发
    function f9() {
        let value = document.getElementById("input1");
        value.value = value.value.toUpperCase();
    }

    // 闭包：函数 + 函数内部访问局部变量（保护私有变量不受外界干扰）
    var close = (function () {
        var a = 0;
        return function f8() {
            return a++;
        }

    })();

    function closeP() {
        document.getElementById("span1").innerHTML = close();
    }

    // 内嵌函数：函数中嵌套函数，访问父级变量
    function f6() {
        var a = 10;

        function f7() {
            a += 1;
        }

        f7();
        return a;
    }

    // 构造函数的声明
    function f5(arg1, arg2) {
        this.id = arg1;
        this.name = arg2;
    }

    var x = new f5(1, "xlj");
    console.log(x.id);

    // 自带参数
    function f4(x, y = 10) {
        return x + y;
    }

    f4(1);

    // 默认参数
    function f3(x, y) {
        // 如果y已经定义，y||返回y（因为y是true），否则返回0
        y = y || 0;
        return y;
    }

    console.log(f3(1));

    // 箭头函数的用法，注：箭头函数不可提升
    function f2(a, b) {
        return a * b;
    }

    document.getElementById("p7").innerHTML = f2(1, 2);
    let z = (x, y) => x * y;
    document.getElementById("p7").innerHTML = z(1, 2);

    // 函数调用toString()方法作为字符串返回（f1.toString 等同于 f1）
    function f1(a, b) {
        return a * b;
    }

    document.getElementById("p6").innerHTML = f1.toString();

    // 函数接收到的参数个数
    function f(a, b) {
        return arguments.length;
    }

    document.getElementById("p5").innerHTML = f(1, 2);

    // 获取ul列表中的最后一个元素
    let fruit = document.getElementsByClassName("fruit");
    let nodes = fruit[0].childNodes;
    let lastText = nodes[nodes.length - 2].innerText;
    console.log(lastText);

    // 点击按钮二次确认
    function rec() {
        let message = confirm("Do you love JavaScript?");
        if (message) {
            console.log(message);
            document.write("good job");
        }
    }

    // 函数提升：在函数声明前调用
    // 匿名自调用函数
    (function () {
        console.log("hello，我是自调用函数");
    })();

    // promise用法
    new Promise(function (resolve, reject) {
        console.log(111);
        resolve(222);
    }).then(function (value) {
        return 333
    }).then(function (value) {
        console.log(value);
        throw "An error";
    }).catch(function (err) {
        console.log(err);
    });

    // 原生JS异步AJAX请求接口
    let request = new XMLHttpRequest();
    // 接口调用状态发生改变时执行函数（0: 请求未初始化；1: 服务器连接已建立；2: 请求已接收；3: 请求处理中；4: 请求已完成，且响应已就绪）
    request.onreadystatechange = function () {
        if (request.status === 200 && request.readyState === 4) {
            console.log("AJAX请求准备就绪");
        }
    };
    // request.open("GET", "http://www.baidu.com", true);
    // request.send();
    // // 成功
    // request.onload = function () {
    //     document.getElementById("p4").innerHTML = request.responseText;
    // 以XML的形式返回
    // document.getElementById("p4").innerHTML = request.responseXML;
    // };
    // // 失败
    // request.onerror = function () {
    //     document.getElementById("p4").innerHTML = "请求失败";
    // };

    // 延迟回调函数
    setTimeout(function () {
        document.getElementById("p3").innerHTML = "3秒后才执行的回调函数";
    }, 3000);
    // 字符串转Json
    var text = '{ "sites" : [' +
        '{ "name":"Runoob" , "url":"www.runoob.com" },' +
        '{ "name":"Google" , "url":"www.google.com" },' +
        '{ "name":"Taobao" , "url":"www.taobao.com" } ]}';
    obj = JSON.parse(text);
    document.getElementById("p2").innerHTML = obj.sites[1].name + "-" + obj.sites[1].url;

    var array = ["apple", "banana", "orange"];
    document.write("判断是否为数组：" + array.constructor.toString() + "<br>");
    var x = "It\'s my dog";
    var y = "Its name is \"twelve\"";
    document.getElementById("p1").innerHTML = x + "<br>" + y;

    var people = {
        name: "xlj", age: 15,
        getInfo: function () {
            return this.age + "-" + this.name;
        }
    };
    document.write("这是for循环遍历对象属性的值：");
    for (let peopleKey in people) {
        document.write(peopleKey + "<br>");
    }
    var a = "hello";
    var b = new String("hello");
    document.write("== 和 === 的区别（==比较值，===还比较数据类型）：");
    document.write((a == b) + "&nbsp" + (a === b));
    document.write("<h1>这是Js脚本所生成的文字<h1/>");
    document.write("这是JS生成的时间：" + Date());
    // 通过对象传值
    document.getElementById("name").innerHTML = people.name;
    document.getElementById("demo1").innerHTML = "不加括号输出的函数表达式（返回函数的定义）：" + people.getInfo;
    document.getElementById("demo2").innerHTML = "加括号输出的函数表达式（返回值）：" + people.getInfo();
    // alert("hello");
    // window.alert("world");
    function params(name, age) {
        alert(name + ":" + age);
    }

    function changeText() {
        let element = document.getElementById("demo");
        element = document.write("<h1>改变后的内容<h1/>")     // 改变内容
    }

    function changeStyle() {
        let element = document.getElementById("style");
        element.style.color = "red";
    }

    function checkNum() {
        let element = document.getElementById("check").value;
        if (element === "" || isNaN(element)) {
            alert(element + "不是数字");
        }
    }
</script>
</html>