<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<script>
    // alert("这是js脚本弹窗");
</script>

<body>
<!--<h1 th:text="${name}">name</h1>-->
<!--字符串拼写。 两种方式，一种是用加号，一种是在前后放上 ||, 显然第二种方式可读性更好。-->
<!--<h1 th:text="'Hello!  '+ ${name} + '!'">hello world</h1>-->
<!--<h1 style="color: rebeccapurple" th:text="|Hello  ${name}! welcome to thymeleaf|">hello world</h1>-->

<!--<h1 style="margin-top: 60%;text-align: center"><a href="">点击此处查看文章内容</a></h1>-->
<!--<div style="margin-top: 60%;text-align: center">-->
<!--    <table border="1" style="margin-top: 60%;margin-left: 20%">-->
<div style="margin-top: 20%;">

    <table width="80%" border="1" cellspacing="1" cellpadding="4" align="center" style="text-align: center">
        <tr>
            <td style="color: #255e95">场次名称</td>
            <td>进口九价首针号</td>
        </tr>
        <tr>
            <td style="color: #255e95">预约时间</td>
            <td>2021-11-30</td>
        </tr>
        <tr>
            <td style="color: #255e95">预约状态</td>
            <td style="color: red">有号可预约 / 约满</td>
        </tr>
        <tr>
            <td style="color: #255e95">放号总量</td>
            <td>15</td>
        </tr>
        <tr>
            <td style="color: #255e95">剩余数量</td>
            <td>7</td>
        </tr>
    </table>
    <img src="http://imgbdb3.bendibao.com/ncbdb/live/20214/12/2021412153050_93015.png" width="80%" style="margin-left: 10%">
</div>
<!--</div>-->
</body>
</html>
