<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预登陆页面</title>
</head>
<body>
<!--预登陆页面-->
<h1 align="center">Iframe 预登陆页面</h1>
<h2 align="center">科德投资</h2>
<div id="loginPage" class="viewport head" align="center">
    <div class="navbar">
        <div class="kd-nav">
            <div class="kd-nav-top">
      <span class="kd-top-attestation fl">
        <a>中国证监会认证证券投资咨询机构(ZX0025)</a>
      </span>
                <div class="username">
                    <div class="kd-safety fr">
                        <div class="kd-top-account">
                            <span class="f12">账号:</span>
                            <input class="kd-account-input username" id="userName" name="loginName" autocomplete="off"
                                   value="" readonly>
                        </div>
                        <div class="kd-top-password">
                            <span class="f12">密码:</span>
                            <input type="password" class="kd-password-input" name="password" autocomplete="off"
                                   readonly>
                        </div>
                        <a href="javascript:;" class="kd-top-logon-btn f12 logonBtn inline">登录</a>
                        <a id="get" class="kd-top-register-btn f12 inline">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>