<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预登录配置</title>
    <script type="text/javascript" src="/js/preLogin.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<h1 align="center" style="color: blue">预登录采集配置</h1>

<iframe id="mainIframe" src="http://localhost:8080/preLoginPage" width="100%" height="300px"></iframe>

<!--配置菜单-->
<form action="collect" method="post" align="center">

    <div id="advantageMenu" style="padding-bottom:20px;">
        <h2>登录配置表单</h2>
        <div class="row pagingBox" name="pagingBox">
            <div class="form-group paging paging-4">
                <div>
                    账号输入框：<input type="text" class="form-control" name="userNameXpath" placeholder="账号输入框的xpath在此"
                                 readonly>
                    <button class="btn btn-small btn-primary" name="selectUserNameInput" type="button">选择账号输入框</button>
                </div>
                <br>
                <div>
                    密码输入框：<input type="text" class="form-control" name="passwordXpath" placeholder="密码输入框的xpath在此"
                                 readonly>
                    <button class="btn btn-small btn-primary" name="selectPasswordInput" type="button">选择密码输入框</button>
                </div>
                <br>
                <div>
                    登录按钮：<input type="text" class="form-control" name="loginXpath" placeholder="登录按钮的xpath在此" readonly>
                    <button class="btn btn-small btn-primary" name="selectLoginBtn" type="button">选择登录按钮</button>
                </div>
                <br>
                <div>
                    用户名：<input type="text" name="userName" placeholder="请输入用户名">
                </div>
                <br>
                <div>
                    密码：<input type="text" name="password" placeholder="请输入密码">
                </div>
                <br>
                <div>
                    登录URL：<input type="text" name="loginUrl" placeholder="请输入登录URL">
                </div>
                <br>
                <div>
                    采集文章URL：<input type="text" name="articleUrl" placeholder="请输入采集文章URL">
                </div>
            </div>
        </div>
    </div>

    <button type="submit">提交</button>
</form>

<script>
    // 用户名输入框xpath
    $("#advantageMenu [name=pagingBox] [name=selectUserNameInput]").click(function () {
        $("#advantageMenu").hide();
        document.getElementById('mainIframe').contentWindow.document.onclick = function (event) {
            //获取xpath
            var path = getXpath(event.target);
            //清除点击事件
            document.onclick = function () {
            };
            //回填xpath
            $("#advantageMenu").show();
            $("#advantageMenu [name=pagingBox] [name=userNameXpath]").val(path);
            // $("#pagingForm").data("bootstrapValidator").updateStatus('xpath', 'NOT_VALIDATED').validateField("xpath")
        }
    });
    // 密码输入框xpath
    $("#advantageMenu [name=pagingBox] [name=selectPasswordInput]").click(function () {
        $("#advantageMenu").hide();
        document.getElementById('mainIframe').contentWindow.document.onclick = function (event) {
            //获取xpath
            var path = getXpath(event.target);
            //清除点击事件
            document.onclick = function () {
            };
            //回填xpath
            $("#advantageMenu").show();
            $("#advantageMenu [name=pagingBox] [name=passwordXpath]").val(path);
            // $("#pagingForm").data("bootstrapValidator").updateStatus('xpath', 'NOT_VALIDATED').validateField("xpath")
        }
    });
    // 登录按钮xpath
    $("#advantageMenu [name=pagingBox] [name=selectLoginBtn]").click(function () {
        $("#advantageMenu").hide();
        document.getElementById('mainIframe').contentWindow.document.onclick = function (event) {
            //获取xpath
            var path = getXpath(event.target);
            //清除点击事件
            document.onclick = function () {
            };
            //回填xpath
            $("#advantageMenu").show();
            $("#advantageMenu [name=pagingBox] [name=loginXpath]").val(path);
            // $("#pagingForm").data("bootstrapValidator").updateStatus('xpath', 'NOT_VALIDATED').validateField("xpath")
        }
    });
</script>

</body>
</html>
